
.panel.round
	%h1 Gerador de comentários

	=form_for :search, :url => [:generator, :search],:method => :get do |f|
		
		%h2 Escolha seu reaça preferido
		=f.select :author, :autor => @authors.map { |a| [a.name]}, :default => @author_name 

		/ %h2 Escolha um tema
		/ =f.select :theme, :Tema => @tags.map { |a| [a.title, a.id] }

		=f.submit :class => [:button,:expand,:radius,:round], :value => "Gerar Comentário"

	%blockquote.sentenca= @sentence
	/.capitalize!




