// Place all the styles related to the generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin-ext,latin);

body {
	background: url(bg.jpg);
	position:fixed; top:0; left:0; width:100%; height:100%;
}

#bg {

}

.panel {
	background-color: #fff;
	padding: 1em;
	margin:1em auto;
	width: 70%;
}
blockquote.sentenca {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}